<header>
    <div class="logo">
        <a href="{{ path('index') }}">
            <img src="https://picsum.photos/200/100" class="img-fluid" alt="">
        </a>
    </div>
    <nav class="header">
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
        <a href="#">Menu 3</a>
    </nav>
</header>